.form {
	padding: 20px 35px;
	position: relative;
}

.operation-name {
	font-size: 2rem;
}

input.step {display: none;}

.form-section {
	z-index: -1;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 160px;
	left: 65px;
	transition-property: visibility, opacity, z-index, left;
	transition-duration: 0.5s;
}

#first:checked ~ #personal-information, #second:checked ~ #contact-information {
	visibility: visible;
	opacity: 1;
	z-index: 1;
	top: 160px;
	left: 35px;
	animation-direction: fowards;
	position: absolute;
}

.form-section input {
	padding: 5px;
	font-size: 1.3rem;
	text-transform: capitalize;
}

.form-section input[type='date'] {text-transform: lowercase;}

.form-section input:focus {
	outline: none;
}

.form-section label {
	margin-bottom: 10px;
	margin-top: 18px;
	font-weight: normal;
}

.form-section h2 {
	color: var(--cor-escura-secundaria);
	font-size: 1.7rem;
}

label.fakebutton {
	margin-top: 25px;
	cursor: pointer;
	color: #7C0FD7;
}

.fakebutton:hover {
	text-decoration: underline;
}

input[type='button'] {
	background-color: var(--cor-escura-principal);
	color: var(--cor-clara-principal);
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
}

ol.steps {
	display: flex;
	margin: 35px 0;
}

ol.steps li {
	position: relative;
	padding: 5px 10px;
	font-size: 1.3rem;
	margin-right: 20px;
	background-color: #F5F5F5;
	color: var(--cor-escura-secundaria);
	font-weight: normal;
}

ol.steps li:first-child {
	background-color: var(--cor-escura-principal);
}

ol.steps li:first-child::after {
	content: "";
	height: 5px;
	width: 20px;
	right: -20px;
	top: calc(50% - 3px);
	background-color: var(--cor-escura-principal);
	position: absolute;
	
}

.step-active {background-color: var(--cor-escura-principal);}
