.form-wrapper {
	display: grid;
	max-width: 630px;
	height: 700px;
	grid-template-columns: 2.2fr 3fr;
}

.img-form {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left top;
}

.form, .form-section {
	display: flex;
	flex-direction: column;
}

.form {
	background-color: var(--cor-clara-principal);
}
